#IntelliJ
.idea
*.iml
*.settings
*.iml

# Compiled class file
*.class

# Log file
/logs
*.log

/target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*