<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </layout>
    </appender>

    <logger name="org.springframework" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.openbank" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <logger name="org.apache.camel" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
